# PROJECT INSTRUCTIONS AND TEMPLATE

You will work with several data files for this project. The goal of the project is to read, clean and transform available data to provide meaningful insights and perform useful computations on the data. You will start with reading and pre-processing climate data and answering some questions using this data. Then you will add demand forecasts (which depend on the climate) to the data and calculate some metrics useful for operations management. 

Some scaffolding is provided but it is mostly left up to you to figure out the detailed steps to accomplish tasks. Keep in mind though that your work will be evaluated on 1) how accurate it is, 2) whether you have met all assignment specifications, 3) how efficient your code is (for example, did you use a loop for repeated tasks), 4) how well you followed the good coding practices emphasized in the course. 

The steps required for the project are such that you can accomplish all tasks (except one) using the functionality you have learned in the course. For the one exception, instructions mention the function that you should use. You can look it up  in the pandas reference and/or find examples on the web.

**To complete and submit this project, execute the following steps:**


1. Read the instructions in the remainder of this notebook and add your code to accomplish tasks. 
2. When you encounter questions to answer, write code to answer the question and then copy your answer to the markdown cell provided.
3. When you get to the end of the questions, re-execute your code as outlined below
    - Select Kernel > Resetart Kernel and Run All Cells from the menu bar. 
    - Look through your code cells to ensure there are no errors. 
    - Look through all the questions and ensure that your response in the markdown cell matches the result you get from the corresponding code cell. 
    - Fix and errors/ mismatches that you find. 
4. After you have fixed all errors/ mismatches, access the Final Project Canvas quiz and submit your answers to all questions(**ONLY ONE TEAM MEMBER SHOULD TAKE THE QUIZ**). Upload your notebook as a response to the last quiz question. The quiz will allow 3 attempts and record your highest score. You will be able to see which of your responses are incorrect after each attempt. Use this information to fix errors in your notebook to get revised answers to the questions. Note that this may change answers to questions you answered correctly before. That should be a clue that you may still not have arrived at the correct answers. Once you are satisfied with your responses, attempt the Canvas quiz again and enter new responses. Upload the new version of your notebook as well. All your responses should be consistent with the latest version of your notebook (the TAs will verify this when they grade the manual part of the project). The notebook corresponding to the quiz attempt with the highest score will be manually graded to 1) confirm that the answers in the notebook match your quiz responses and 2) to grade other rubric items mentioned above (items and points are listed in the Canvas quiz).

## <font color = 'red'>TEAM INFORMATION</font>

<font color = 'red'>Please type all team member names below.</font>

**Team member 1:** Prashanth Regulavalasa

**Team member 2:** Bala Sai Nadh Kesana

## Data Preparation

The data files for this project are available in the climate_data.zip folder. Download and unzip the folder (extract the files from the zip archive). When you do, you will see three folders named "total_precipitation", "vapor_pressure" and "sunshine_duration". Each folder contains multiple text files. Upload the folders to the same location as your project notebook. If you do this correctly, the pathname for the file total_precipitation_1951.txt will be "total_precipitation/total_precipitation_1951.txt".

Check the contents of the three folders. Each folder contains multiple files. Each file contains data for 12 months of a particular year. The year is identified in the name of the file and is also the first number in the file. The subsequent numbers in each file (after the year) are measurements for a given quantity (total precipiation, vapor pressure or sunshine duration) for the different months of the year. Notice that the column headers, which are included in the file content, are in German.

Read the data from all files in the three folders into three dataframes called precipation_data, vaopr_data and sunshine_data that meet the following specifications:

* Missing values are denoted by np.NaN
* Column names are in English instead of German

Find an efficient way to perform this task. Feel free to research new modules/libraries for this (e.g., the `os` module could be useful here).

Perform the necessary checks to ensure that all files have been read, all data has been combined correctly and the data have appropriate data types.

In [1]:
# Imported required libraries and initialized dataframes for appending the respective data
import pandas as pd
import os
import calendar

precipitation_data = pd.DataFrame()
vapor_data = pd.DataFrame()
sunshine_data = pd.DataFrame()

# Created a list to use as the column names
month_names = list(calendar.month_name)[1:]
col_names = ['Year']+month_names

# Set the current working directory as a string variable
cwd = '/home/jupyter-pfr5214/BAN832_Course'
for df in ['total_precipitation','vapor_pressure','sunshine_duration']:
    os.chdir(cwd+'/'+df) # changed the working directory to required folder
    for file in os.listdir(): 
        try: # looping through the files with no errors due to checklist directory
            data = pd.read_csv(file, sep=";", header=None, skiprows=1, names=col_names)
        except:
            continue
        else:
            data = data.transpose()
            data['Year'] = data.iloc[0, 0].astype(int)
            data = data.iloc[1: , :].reset_index().rename(columns = {'index' : 'Month',0 : df})
            data = data[['Year','Month',df]]
            if df == 'total_precipitation':
                precipitation_data = precipitation_data.append(data)
            elif df == 'vapor_pressure':
                vapor_data = vapor_data.append(data)
            else:
                sunshine_data = sunshine_data.append(data)
    os.chdir('../') # changed the working directory to base folder

In [2]:
# Set the current working directory as a string variable
cwd = '/home/jupyter-pfr5214/BAN832_Course'
for df in ['total_precipitation','vapor_pressure','sunshine_duration']: # Check for each dataframe
    os.chdir(cwd+'/'+df)
    files = os.listdir()
    files = [i for i in files if i != '.ipynb_checkpoints'] # Got the files (/ number of years) to be added to the dataframe which are not .ipynb_checkpoint files
    print(df + " folder has '" +str(len(files))+ "' files (/years data).") # Number is printed to cross check

total_precipitation folder has '67' files (/years data).
vapor_pressure folder has '44' files (/years data).
sunshine_duration folder has '39' files (/years data).

In [3]:
# Printed the counts of non null values in all columns to cross check
print(precipitation_data.groupby('Month').count())
print(vapor_data.groupby('Month').count())
print(sunshine_data.groupby('Month').count())

           Year  total_precipitation
Month
April        67                   67
August       67                   67
December     67                   67
February     67                   67
January      67                   67
July         67                   67
June         67                   67
March        67                   67
May          67                   67
November     67                   67
October      67                   67
September    67                   67
           Year  vapor_pressure
Month
April        44              23
August       44              29
December     44              24
February     44              27
January      44              27
July         44              30
June         44              22
March        44              29
May          44              25
November     44              28
October      44              27
September    44              28
           Year  sunshine_duration
Month
April        39                 30
August       39                 26
December     39                 28
February     39                 28
January      39                 30
July         39                 27
June         39                 27
March        39                 32
May          39                 33
November     39                 28
October      39                 28
September    39                 30

<font color = 'green'>The precipitation_data, vapor_data, and sunshine_data dataframe have 67, 44, and 39 years respectively, which matches with the number of files, so we got all the files.</font>

In [4]:
print(precipitation_data.groupby('Year').count())
print(vapor_data.groupby('Year').count())
print(sunshine_data.groupby('Year').count())

      Month  total_precipitation
Year
1951     12                   12
1952     12                   12
1953     12                   12
1954     12                   12
1955     12                   12
...     ...                  ...
2013     12                   12
2014     12                   12
2015     12                   12
2016     12                   12
2017     12                   12

[67 rows x 2 columns]
      Month  vapor_pressure
Year
1968     12              12
1969     12              11
1970     12              11
1971     12               8
1972     12               2
1974     12               6
1975     12              11
1976     12               3
1978     12               6
1979     12               9
1980     12               8
1981     12               9
1982     12              11
1983     12              12
1984     12              11
1985     12               7
1986     12               8
1987     12               7
1988     12              12
1989     12              11
1990     12               9
1991     12               9
1992     12               9
1993     12              10
1994     12              11
1995     12               1
1997     12               1
2000     12               1
2001     12               1
2002     12               2
2003     12               1
2004     12               2
2006     12               1
2007     12               1
2008     12               1
2009     12               1
2010     12               1
2011     12              12
2012     12              10
2013     12              12
2014     12              12
2015     12              12
2016     12              12
2017     12              12
      Month  sunshine_duration
Year
1978     12                  4
1979     12                  4
1980     12                  8
1981     12                  8
1982     12                  9
1983     12                 11
1984     12                 12
1985     12                  8
1986     12                  7
1987     12                  8
1988     12                  9
1989     12                  9
1990     12                 10
1991     12                  9
1992     12                  9
1993     12                  9
1994     12                 10
1995     12                  8
1996     12                  2
1997     12                 11
1998     12                  5
1999     12                 10
2000     12                 11
2001     12                  8
2002     12                  9
2003     12                  8
2004     12                 10
2005     12                  6
2006     12                 10
2007     12                 10
2008     12                  9
2009     12                 11
2010     12                  9
2011     12                 11
2012     12                  9
2013     12                 11
2014     12                 12
2015     12                 12
2016     12                 11

<font color = 'green'>The data appending worked perfectly alright and we have all the years with 12 months in it. However, we can observe that we do not have values for a few months in the vapor_data and sunshine_data dataframes.</font>

In [5]:
print(precipitation_data.info())
print(vapor_data.info())
print(sunshine_data.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 804 entries, 0 to 11
Data columns (total 3 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Year                 804 non-null    int64
 1   Month                804 non-null    object
 2   total_precipitation  804 non-null    float64
dtypes: float64(1), int64(1), object(1)
memory usage: 25.1+ KB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 528 entries, 0 to 11
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Year            528 non-null    int64
 1   Month           528 non-null    object
 2   vapor_pressure  319 non-null    float64
dtypes: float64(1), int64(1), object(1)
memory usage: 16.5+ KB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 468 entries, 0 to 11
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Year               468 non-null    int64
 1   Month              468 non-null    object
 2   sunshine_duration  347 non-null    float64
dtypes: float64(1), int64(1), object(1)
memory usage: 14.6+ KB
None

<font color = 'green'>The data types have been correctly identified. Null values confirmed in vapor and sunshine data.</font>

Answer the following questions using the three dataframes. Provide all code and also write your final answer in the markdown cell provided under the question. Round all results to 4 decimal places.

<font color = 'blue'>**Question 1:** What is the total monthly precipitation in March (across all available years) in the data?</font>

<font color = 'green'>The total monthly precipitation in March (across all available years) is 3780 units.</font>

In [6]:
# Sliced the data for March month and performed a sum on the total_precipitation column
precipitation_data[precipitation_data['Month']== 'March']['total_precipitation'].sum()

3780.0

<font color = 'blue'>**Question 2:** What is the average vapor pressure in January in the data?</font>

<font color = 'green'>The average vapor pressure for the month of January is 28.3444 units.</font>

In [7]:
# Sliced the data for January month and performed a mean aggregation function on the vapor_pressure column
round(vapor_data[vapor_data['Month']== 'January']['vapor_pressure'].mean(), 4)

28.3444

<font color = 'blue'>**Question 3:** What is the mean sunshine duration for February in the data?</font>

<font color = 'green'>The average sunshine duration for the month of February is 206.2143 units.</font>

In [8]:
# Sliced the data for february month and performed a mean aggregation function on the sunshine_duration column
round(sunshine_data[sunshine_data['Month']== 'February']['sunshine_duration'].mean(), 4)

206.2143

Next, create a new dataframe called combined_data that combines the three dataframes into one dataframe that meets the following specifications:

* Missing values are denoted by np.NaN
* Column names are in English instead of German
* The dataframe has the following columns
    - Year
    - Month
    - Total_Precipitation
    - Vapor_Pressure
    - Sunshine_Duration
* The dataframe has data only for those years for which we have files for all three quantities.

Perform the necessary checks to ensure that the data has been transformed correctly.

In [9]:
# Joined the sunshine_data with vapor_data and precipitation_data
combined_data = precipitation_data.merge(vapor_data, 'inner', left_on = ['Year','Month'], right_on = ['Year', 'Month']).merge(sunshine_data, 'inner', left_on = ['Year','Month'], right_on = ['Year', 'Month']).rename(columns = {'sunshine_duration':'Sunshine_Duration', 'vapor_pressure':'Vapor_Pressure','total_precipitation':'Total_Precipitation'})
combined_data

     Year      Month  Total_Precipitation  Vapor_Pressure  Sunshine_Duration
0    2011    January                112.0            29.7                NaN
1    2011   February                101.0            29.6              168.0
2    2011      March                 70.0            30.5              177.0
3    2011      April                 80.0            30.6              209.0
4    2011        May                 28.0            31.5              168.0
..    ...        ...                  ...             ...                ...
415  2000     August                 76.0             NaN              322.0
416  2000  September                103.0             NaN              208.0
417  2000    October                113.0             NaN                NaN
418  2000   November                 24.0             NaN              202.0
419  2000   December                 36.0            29.9              262.0

[420 rows x 5 columns]

In [10]:
combined_data.groupby('Year').count().reset_index().shape

(35, 5)

In [11]:
combined_data.groupby('Year').count()

      Month  Total_Precipitation  Vapor_Pressure  Sunshine_Duration
Year
1978     12                   12               6                  4
1979     12                   12               9                  4
1980     12                   12               8                  8
1981     12                   12               9                  8
1982     12                   12              11                  9
1983     12                   12              12                 11
1984     12                   12              11                 12
1985     12                   12               7                  8
1986     12                   12               8                  7
1987     12                   12               7                  8
1988     12                   12              12                  9
1989     12                   12              11                  9
1990     12                   12               9                 10
1991     12                   12               9                  9
1992     12                   12               9                  9
1993     12                   12              10                  9
1994     12                   12              11                 10
1995     12                   12               1                  8
1997     12                   12               1                 11
2000     12                   12               1                 11
2001     12                   12               1                  8
2002     12                   12               2                  9
2003     12                   12               1                  8
2004     12                   12               2                 10
2006     12                   12               1                 10
2007     12                   12               1                 10
2008     12                   12               1                  9
2009     12                   12               1                 11
2010     12                   12               1                  9
2011     12                   12              12                 11
2012     12                   12              10                  9
2013     12                   12              12                 11
2014     12                   12              12                 12
2015     12                   12              12                 12
2016     12                   12              12                 11

Answer the following questions using the new combined dataframe. Provide all code and also write your final answer in the markdown cell provided under the question. Round all results to 4 decimal places.

<font color = 'blue'>**Question 4:** What is the total monthly precipitation in the data?</font>

<font color = 'green'>Total precipitation is 23096 units.</font>

In [12]:
# Performed a sum on the Total_Precipitation column
combined_data['Total_Precipitation'].sum()

23096.0

<font color = 'blue'>**Question 5:** What is the average monthly vapor pressure in the data?</font>

<font color = 'green'>Average monthly vapor pressure is 29.8502 units.</font>

In [13]:
# Performed a mean operation on the Vapor_Pressure column
round(combined_data['Vapor_Pressure'].mean(),4)

29.8502

<font color = 'blue'>**Question 6:** What is the mean monthly sunshine duration in the data?</font>

<font color = 'green'>The average monthly sunshine duration is 205 untis.</font>

In [14]:
# Performed a mean operation on the Sunshine_Duration column
round(combined_data['Sunshine_Duration'].mean(),4)

205.0

Handle missing values in the new dataframe using linear interpolation. Linear interpolation makes sense here because there may be a time trend in the data. So we want to fill missing values with values that would follow the trend. You should use the pandas `DataFrame.interpolate()` function for dataframes. Specify 'linear' as the `method` and 'both' as the `limit_direction` to perform the linear interpolation. Use the default values for the `limit`, `limit_area`, `downcast` and `**kwargs` arguments. Think about the mechanics of how to perform this interpolation to identify appropriate values for arguments. 

A key requirement for the interpolation to work correctly is that the dataframe on which the interpolate function is called should be sorted in ascending order by time. Make sure you sort the dataframe appropriately.

Perform checks to ensure that the interpolation worked correctly.

In [15]:
# Created a column Year-Month using Year number and Month number to utilize for sorting chronologically
from datetime import datetime
combined_data['Year-Month'] = combined_data['Year'].astype(str) + "-" + pd.to_datetime(combined_data['Month'], format='%B').dt.strftime('%m').astype(str)
combined_data.set_index('Year-Month', drop = False, inplace = True)
combined_data.sort_index(inplace = True)
combined_data.reset_index(drop = True, inplace = True)
combined_data

,Year,Month,Total_Precipitation,Vapor_Pressure,Sunshine_Duration,Year-Month
0,1978,January,62.0,28.1,NaN,1978-01
1,1978,February,25.0,NaN,NaN,1978-02
2,1978,March,45.0,28.1,257.0,1978-03
3,1978,April,32.0,26.4,NaN,1978-04
4,1978,May,77.0,NaN,NaN,1978-05
...,...,...,...,...,...,...
415,2016,August,56.0,30.9,224.0,2016-08
416,2016,September,123.0,30.3,175.0,2016-09
417,2016,October,75.0,30.6,187.0,2016-10
418,2016,November,103.0,29.9,201.0,2016-11
419,2016,December,63.0,29.9,229.0,2016-12

In [16]:
combined_interpolated = combined_data.interpolate(method = 'linear', limit_direction = 'both')
combined_interpolated.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 420 entries, 0 to 419
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Year                 420 non-null    int64
 1   Month                420 non-null    object
 2   Total_Precipitation  420 non-null    float64
 3   Vapor_Pressure       420 non-null    float64
 4   Sunshine_Duration    420 non-null    float64
 5   Year-Month           420 non-null    object
dtypes: float64(3), int64(1), object(2)
memory usage: 19.8+ KB

In [17]:
check = combined_interpolated.merge(combined_data, 'inner', left_on = 'Year-Month', right_on = 'Year-Month')
check[check['Year_x']==1979]

,Year_x,Month_x,Total_Precipitation_x,Vapor_Pressure_x,Sunshine_Duration_x,Year-Month,Year_y,Month_y,Total_Precipitation_y,Vapor_Pressure_y,Sunshine_Duration_y
12,1979,January,61.0,28.100000,253.000000,1979-01,1979,January,61.0,28.1,253.0
13,1979,February,64.0,28.666667,244.666667,1979-02,1979,February,64.0,NaN,NaN
14,1979,March,88.0,29.233333,236.333333,1979-03,1979,March,88.0,NaN,NaN
15,1979,April,18.0,29.800000,228.000000,1979-04,1979,April,18.0,29.8,228.0
16,1979,May,43.0,29.800000,207.000000,1979-05,1979,May,43.0,29.8,207.0
17,1979,June,42.0,29.800000,188.000000,1979-06,1979,June,42.0,29.8,NaN
18,1979,July,81.0,29.800000,169.000000,1979-07,1979,July,81.0,29.8,169.0
19,1979,August,52.0,29.800000,177.714286,1979-08,1979,August,52.0,29.8,NaN
20,1979,September,200.0,29.800000,186.428571,1979-09,1979,September,200.0,29.8,NaN
21,1979,October,33.0,29.800000,195.142857,1979-10,1979,October,33.0,29.8,NaN
22,1979,November,85.0,29.800000,203.857143,1979-11,1979,November,85.0,29.8,NaN
23,1979,December,39.0,29.266667,212.571429,1979-12,1979,December,39.0,NaN,NaN

<font color = 'green'>The interpolation filled the missing values by linearly interpolating between the existing values like 1979 June Sunshine_Duration is calculated by taking the neighbouring non null values, i.e., 1979 May and July Sunshine_Duration (June = (May_Value + July_Value)/2). If there are more than one null values, the closest non null values are taking and all the nulls are calculated by similiar linear interpolation.</font>

Using the dataframe with interpolated values, answer the following questions. Round all results to 4 decimal places.

<font color = 'blue'>**Question 7:** What is the total monthly precipitation in the data?</font>

<font color = 'green'>Total precipitation is 23096 units. There were no null values in Total_Precipitation column before interpolation as well.</font>

In [18]:
# Performed a sum on the Total_Precipitation column
combined_interpolated['Total_Precipitation'].sum()

23096.0

<font color = 'blue'>**Question 8:** What is the average vapor pressure in the data?</font>

<font color = 'green'>Average monthly vapor pressure is 29.6506 units.</font>

In [19]:
# Performed a mean operation on the Vapor_Pressure column
round(combined_interpolated['Vapor_Pressure'].mean(),4)

29.6506

<font color = 'blue'>**Question 9:** What is the mean sunshine duration in the data?</font>

<font color = 'green'>The average monthly sunshine duration is 204.044 untis.</font>

In [20]:
# Performed a mean operation on the Sunshine_Duration column
round(combined_interpolated['Sunshine_Duration'].mean(),4)

204.044

## Computations

The demand for certain products is weather dependent. We will simulate such a scenario here using the climate data that you have compiled so far. Use the latest dataframe that combines all three measurements (precipiation, vapor pressure and sunshine duration) and has interpolated values instead of missing values for this section.

An analyst has developed a demand forecasting model that incorporates the climate data. Their analysis shows that there was a significant shift in customer behavior in the year 2000. As a result, they created two demand forecasting models - one that applies to years before 2000 and one that applies to year 2000 and after.

**Before 2000:** $ \text{forecasted demand} = 1000 - 10.5 * \text{total precipitation} + 1.009 * \text{sunshine duration} $


**2000 and after:** $ \text{forecasted demand} = 1000 - 10.5 * \text{total precipitation} + 1.19 * \text{sunshine duration} $

Add a Demand_Forecast column to the dataframe and caclulate the forecasted demand using the above formulas. Note that it is theoretically possible for the result of the above equations to be negative. However the demand for a product cannot be negative. Ensure that when you calculate the forecasted demand, any negative values are converted to zeros.

In [21]:
# Conditional statement for Demand Forecast and treating negative values
import numpy as np
combined_interpolated['Demand_Forecast'] = np.where(combined_interpolated['Year']<2000, 1000 - 10.5*combined_interpolated['Total_Precipitation'] + 1.009*combined_interpolated['Sunshine_Duration'], 1000 - 10.5*combined_interpolated['Total_Precipitation'] + 1.19*combined_interpolated['Sunshine_Duration'])
combined_interpolated['Demand_Forecast'] = np.where(combined_interpolated['Demand_Forecast']<=0 , 0, combined_interpolated['Demand_Forecast'])
combined_interpolated

,Year,Month,Total_Precipitation,Vapor_Pressure,Sunshine_Duration,Year-Month,Demand_Forecast
0,1978,January,62.0,28.100000,257.0,1978-01,608.3130
1,1978,February,25.0,28.100000,257.0,1978-02,996.8130
2,1978,March,45.0,28.100000,257.0,1978-03,786.8130
3,1978,April,32.0,26.400000,239.6,1978-04,905.7564
4,1978,May,77.0,26.683333,222.2,1978-05,415.6998
...,...,...,...,...,...,...,...
415,2016,August,56.0,30.900000,224.0,2016-08,678.5600
416,2016,September,123.0,30.300000,175.0,2016-09,0.0000
417,2016,October,75.0,30.600000,187.0,2016-10,435.0300
418,2016,November,103.0,29.900000,201.0,2016-11,157.6900
419,2016,December,63.0,29.900000,229.0,2016-12,611.0100

Answer the following questions using the dataframe that contains forecasted demand values. Round all results to 4 decimal places.

<font color = 'blue'>**Question 10:** What is the average forecasted demand?</font>

<font color = 'green'>The average forecasted demand is 654.6923 units.</font>

In [22]:
# Performed a mean operation on the Demand_Forecasted column which was prepared using the conditional statements
round(combined_interpolated['Demand_Forecast'].mean(),4)

654.6923

<font color = 'blue'>**Question 11:** What is the average forecasted demand for 2011?</font>

<font color = 'green'>The average forecasted demand for 2011 is 501.5829 units.</font>

In [23]:
# Sliced the data for 2011 and performed a mean aggregation function on the Demand_Forecasted column
round(combined_interpolated[combined_interpolated['Year']== 2011]['Demand_Forecast'].mean(),4)

501.5829

Typically future demand for a product is uncertain. The uncertainty of demand is captured by the standard deviation. The forecasting models discussed above provide an estimate of the standard deviation as well. Create a new column called StdDev_Demand and assign standard deviation values as follows. The standard deviation of demand for all years before 2000 should be 20. The standard deviation of demand for years 2000 or later should be 30.

In [24]:
# Used conditional function for creating Standard Deviation of Demand 
combined_interpolated['StdDev_Demand'] = np.where(combined_interpolated['Year']<2000 , 20, 30)
combined_interpolated

,Year,Month,Total_Precipitation,Vapor_Pressure,Sunshine_Duration,Year-Month,Demand_Forecast,StdDev_Demand
0,1978,January,62.0,28.100000,257.0,1978-01,608.3130,20
1,1978,February,25.0,28.100000,257.0,1978-02,996.8130,20
2,1978,March,45.0,28.100000,257.0,1978-03,786.8130,20
3,1978,April,32.0,26.400000,239.6,1978-04,905.7564,20
4,1978,May,77.0,26.683333,222.2,1978-05,415.6998,20
...,...,...,...,...,...,...,...,...
415,2016,August,56.0,30.900000,224.0,2016-08,678.5600,30
416,2016,September,123.0,30.300000,175.0,2016-09,0.0000,30
417,2016,October,75.0,30.600000,187.0,2016-10,435.0300,30
418,2016,November,103.0,29.900000,201.0,2016-11,157.6900,30
419,2016,December,63.0,29.900000,229.0,2016-12,611.0100,30

When the demand for a product is uncertain, the stocking quantity (quantity to produce or buy from a supplier) depends on the proability distribution of demand. For normally distributed demand, the quantity can be calculated using the mean and standard deviation of demand and a safety stock multiplier. The demand forecast and standard deviations values that you generated earlier can be used as estimates of the mean and standard deviation of demand for a given month and year. Assuming a safety stock multiplier of 1.65, you can calculate the stocking quantity using the following formula. 

$\text{Stocking Quantity} = \text{Mean Demand} + 1.65 * \text{Std Dev of Demand} $


Create a 'Stocking_Quantity' column in the dataframe and calculate the stocking quantity for each row using the above formula.

In [25]:
# Created the Stocking_Quantity column using the normal distribution formal with a safety factor of 1.65
combined_interpolated['Stocking_Quantity'] = combined_interpolated['Demand_Forecast'] + 1.65*combined_interpolated['StdDev_Demand']
combined_interpolated

,Year,Month,Total_Precipitation,Vapor_Pressure,Sunshine_Duration,Year-Month,Demand_Forecast,StdDev_Demand,Stocking_Quantity
0,1978,January,62.0,28.100000,257.0,1978-01,608.3130,20,641.3130
1,1978,February,25.0,28.100000,257.0,1978-02,996.8130,20,1029.8130
2,1978,March,45.0,28.100000,257.0,1978-03,786.8130,20,819.8130
3,1978,April,32.0,26.400000,239.6,1978-04,905.7564,20,938.7564
4,1978,May,77.0,26.683333,222.2,1978-05,415.6998,20,448.6998
...,...,...,...,...,...,...,...,...,...
415,2016,August,56.0,30.900000,224.0,2016-08,678.5600,30,728.0600
416,2016,September,123.0,30.300000,175.0,2016-09,0.0000,30,49.5000
417,2016,October,75.0,30.600000,187.0,2016-10,435.0300,30,484.5300
418,2016,November,103.0,29.900000,201.0,2016-11,157.6900,30,207.1900
419,2016,December,63.0,29.900000,229.0,2016-12,611.0100,30,660.5100

Answer the following questions using the latest dataframe. Round all results to 4 decimal places.

<font color = 'blue'>**Question 12:** What is the average stocking quantity for 1978?</font>

<font color = 'green'>The average stocking quantity for each month of 1978 is 798.971 units.</font>

In [26]:
# Sliced the data for 1978 and performed a mean aggregation function on the Stocking_Quantity column
round(combined_interpolated[combined_interpolated['Year']== 1978]['Stocking_Quantity'].mean(),4)

798.971

<font color = 'blue'>**Question 13:** What is the average stocking quantity for 2016?</font>

<font color = 'green'>The average stocking quantity for each month of 2016 is 764.4996 units.</font>

In [27]:
# Sliced the data for 2016 and performed a mean aggregation function on the Stocking_Quantity column
round(combined_interpolated[combined_interpolated['Year']== 2016]['Stocking_Quantity'].mean(),4)

764.4996

## Validate your notebook

Restart the kernel and re-run your notebook by selecting Kernel > Restart Kernel and Run All Cells from the Menubar. 

Then, validate your work. Check to make sure that there are no errors and that the responses you wrote in the markdown cells match the results you get from the code cells.

## Take the Canvas quiz

One member (ONLY ONE MEMBER) should take the Canvas quiz (you can attempt upto two times). 

**IMPORTANT:** More than one team member attempting the quiz is an academic integority violation.